@page

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Add workout";
    var user = await UserManager.GetUserAsync(User);
} 

<h1>New workout</h1>
@* 
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>Workout Name</p>
                <input asp-for="workout.Title" class="form-control" placeholder="Enter workoutname" />
                <p class="danger alert-danger">@Model.ReplyToUser</p>
                <button type="submit" class="btn btn-primary">Create</button>
                <span asp-validation-for="workout.Title" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input asp-for="workout.UserId" value="@user.Id" readonly class="form-control" type="hidden" />
                <span asp-validation-for="workout.UserId" class="text-danger"></span>
            </div>


      
        </form>
    </div>
</div>
 *@
