@page
@using Core.Models
@model Web.Pages.RemoveExerciseModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "RemoveExercise";
    var user = await UserManager.GetUserAsync(User);
}

@foreach(var item in Model.AllWorkoutsByCurrentUser)
{
    <p>@item.Title</p>
    foreach(var exercise in item.Exercises)
    {
        <p>@exercise.Name</p>
    }
   
 
}