@page
@model Web.Pages.ShowScheduleModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Show Schedule";
    var user = await UserManager.GetUserAsync(User);

}
@if (Model.CurrentUserScheduleId is null)
{
    <p>You need to create a workout and a schedule before coming here! please press <a class="btn btn-primary" asp-page="/Addworkout">Here</a> to continiue</p>
}
else
{

    @foreach (var schedule in Model.SortedScheduleList)
    {
        <p>Current workouts in your schedule:</p>

        <div class="workout-container">
            @foreach (var workout in Model.SortedWorkoutList)
            {
                <div class="workout-box">
                    <strong>@workout.Title</strong>
                    <p>@workout.Date</p>
                    <p>@workout.Description</p>
                </div>
            }
        </div>
    }

}

@* <a class="btn btn-primary" asp-page="/ShowSchedule">My Schedules</a> *@
