@page
@model Web.Pages.YourProgressionModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var strongmanvalues = Model.Strongman.TableLists;
    // var powerliftingvalues = Model.Powerlifting.TableLists;
}


<head>
    <title>Dynamic Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <select id="datasetSelect">
        @foreach (var item in strongmanvalues)
        {
            <option value="@item.ExerciseName">@item.ExerciseName</option>
        }
    </select>
    




</body>


<script> </script>
